<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>品牌列表</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
</head>

<body>
    <div id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label for="">
                    Id:
                    <input type="text" name="" id="" class="form-control" v-model="id">
                </label>
                <label for="">
                    Name:
                    <input type="text" name="" id="" class="form-control" v-model="name">
                </label>
                <input type="button" value="添加" class="btn btn-primary" @click="addBrand">
                <label for="">
                    Search:
                    <input type="text" name="" id="" class="form-control" v-model="keywords">
                </label>
            </div>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <!-- 
                    之前，v-for 中的数据，都是直接从 data 上的 list 中直接渲染过来的
                    现在，我们自定义了一个 search 方法，同时把所有关键字，通过传参的形式传递给了 search 方法
                    在 search 方法内部，通过执行 for 循环，把所有符合搜索关键字的数据都渲染出来
                -->
                <tr v-for="(item,index) in search(keywords)" :key="item.id">
                <!-- <tr v-for="(item,index) in listComputed" :key="item.id"></tr>
                <tr v-for="(item,index) in list" :key="item.id"></tr> -->
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.ctime}}</td>
                    <td>
                        <a href="#" class="btn btn-primary" @click.prevent="deleteBrand(index)">删除</a>
                        <a href="#" class="btn btn-primary" @click.prevent="deleteBrandById(item.id)">通过ID删除</a>
                        <a href="#" class="btn btn-primary" @click.prevent="deleteBrandByFindIndex(item.id)">通过findIndex方法删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                keywords: '',
                time: new Date().getFullYear() + '-' + new Date().getMonth() + '-' + new Date().getDate(),
                newListWatch:[],
                list: [{
                        id: 1,
                        name: '奔驰',
                        ctime: this.time
                    },
                    {
                        id: 2,
                        name: '宝马',
                        ctime: this.time
                    },
                    {
                        id: 3,
                        name: '宝骏',
                        ctime: this.time
                    },
                    {
                        id: 4,
                        name: '奔奔',
                        ctime: this.time
                    }
                ]
            },
            methods: {
                addBrand: function () {
                    this.list.push({
                        id: this.id,
                        name: this.name,
                        ctime: new Date().getFullYear() + '-' + new Date().getMonth() + '-' + new Date()
                            .getDate()
                    });
                    this.id = this.name = '';
                },
                deleteBrand: function (index) {
                    this.list.splice(index, 1);
                },
                deleteBrandById(id) {
                    this.list.some((item, i) => {
                        if (item.id === id) {
                            this.list.splice(i, 1);
                            return true;
                        }
                    });
                },
                deleteBrandByFindIndex(id) {
                    var index = this.list.findIndex(item => {
                        if (item.id === id) {
                            return true;
                        }
                    });
                    this.list.splice(index, 1);
                },
                search(keywords){
                    // var newList = [];
                    // this.list.forEach((item,index) => { 
                    //初始化页面时搜索框里的内容为空字符串，它能够匹配数组中的任意 item.name，所以会全部渲染出来
                    //     if(item.name.indexOf(keywords) != -1) {
                    //         newList.push(item);
                    //     }
                    // });
                    // return newList;

                    //新方法，使用数组过滤函数，可以将符合匹配条件的元素返回出来
                    return this.list.filter(item => {
                        if(item.name.includes(keywords)){
                            return item;
                        }
                    });
                },
                replaceArr () {
                    this.list = this.newListWatch;
                }
            },
            watch:{
                keywords:function(){
                    this.list.forEach(element => {
                        if(element.name.includes(this.keywords)){
                            this.newListWatch.push(element);
                        }
                        this.replaceArr();
                    });
                }
            },
            computed:{
                listComputed:function(){
                    return this.list
                }
            }
        });
    </script>
</body>

</html>